@use './variables' as *;
@use './mixins' as *;

.card {
  position: relative;
  text-align: center;
  background-color: $ansi-black;
  color: $foreground;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 220px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 100px;
  transform-style: preserve-3d; // Добавлено для корректного масштабирования
  overflow: visible; // Разрешаем отображение за пределами
  margin-top: 3rem; // или любое другое значение

  &:hover .delete-button {
    opacity: 1; // Добавляем принудительное отображение
  }

  .delete-button {
    @include delete-button;
  }

  &:hover {
    transform: scale(1.12);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    

  }

  .card-title,
  .card-description {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
  }

  .card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .card-description {
    font-size: 0.9rem;
    color: $comment;
    line-height: 1.4;
  }

  .signal-circle {
    position: absolute;
    bottom: 8px;
    right: 8px;

    &.green {
      @include signal-circle($green, led-glow-green);
    }

    &.yellow {
      @include signal-circle($yellow, led-glow-yellow);
    }

    &.orange {
      @include signal-circle($orange, led-glow-orange);
    }

    &.red {
      @include signal-circle($red, led-glow-red);
    }

    &.black {
      @include signal-circle($ansi-black, none);
    }
  }

  .delete-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 42, 54, 0.9);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: $ansi-black;

    p {
      margin-bottom: 1rem;
      font-size: 1rem;
      font-weight: bold;
      color: $foreground;
    }

    .delete-menu-buttons {
      display: flex;
      gap: 0.5rem;

      button {
        width: 40px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.9rem;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }

        &:first-child {
          background-color: $red;
          color: $ansi-black;
        }

        &:last-child {
          background-color: $comment;
          color: $ansi-black;
        }
      }
    }
  }

  &.show-delete-menu {
    .delete-menu {
      opacity: 1;
      visibility: visible;
    }

    .card-content {
      display: none;
    }
  }
}

.add-node-button {
  background-color: $ansi-black;
  width: 220px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  margin-top: 3rem; // или любое другое значение


  &:hover {
    transform: scale(1.1);
  }

  .plus-icon {
    font-size: 2rem;
    font-weight: bold;
    color: $green;
    pointer-events: none;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 42, 54, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal-content {
  background-color: $ansi-black;
  padding: 1.5rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    width: 100%;
    padding: 0.5rem;
    background-color: $foreground;
    color: $background;
    border: 2px solid $background;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 0.9rem;

    &:focus {
      border-color: $green;
    }
  }

  .modal-buttons {
    display: flex;
    justify-content: space-between;

    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background-color 0.3s ease;

      &:first-child {
        background-color: $green;
        color: $ansi-black;

        &:hover {
          background-color: darken($green, 10%);
        }
      }

      &:last-child {
        background-color: $comment;
        color: $ansi-black;

        &:hover {
          background-color: darken($comment, 10%);
        }
      }
    }
  }
}
